*{
    box-sizing: border-box;
}
img{
    height: 100%;
    width: 100%;
}
.cartPage{
    margin: auto;
}
.totalPrice{
    align-items: center;
    background: #f1f1f1;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: flex-start;
    left: 0.5rem;
    margin-right: 2rem;
    padding: 1.5rem;
    position: fixed;
    top: 30%;
}



.productGrid{
    grid-gap: 2rem;
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(3,1fr);
    margin: 3rem 15rem;
}

.productContainer{
    align-items: center;
    border-radius: 10px;
    box-shadow: 0 2px 8px 0 rgba(64,77,148,.4);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2rem;
    transition: all .25s ease-in-out;
}

.imageContainer{
    flex: 1 1;
}

.productDetails{
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.productName{
    color: #224957;
    font-family: Inter,sans-serif;
    font-size: 1.25rem;
    font-weight: 500;
    padding: 8px 0;
}

.productOptions{
    box-sizing: border-box;
    align-items: center;
    display: flex;
    font-size: 24px;
    justify-content: space-between;
    padding: 8px 0;
    width: 100%;
}

.productPrice{
    color: #224957;
    font-weight: 700;
    margin: 0;
}

.removeBtn{
    color: #fff;
    font-size: 20px;
    padding: 0.75rem 0;
    transition: all .3s ease-in-out;
    background: #f14444;
    border: 1px solid red;
    border-radius: 6px;
}

.removeBtn:hover{
    color: #f14444;
    background-color: #fff;
}